* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --medium-blue: hsl(240, 100%, 40.2%);
    --phthalo-blue: hsl(233.4, 100%, 26.9%);
    --silver: hsl(0, 0%, 75.3%);
    --cyan: hsl(193.3, 100%, 46.1%);
    --dark-midnight-blue: hsl(210, 100%, 20%);
    --azure: hsl(210.1, 100%, 50%);
    --vampire-black: hsl(0, 0%, 3.1%);
    --black: hsl(0, 0%, 0%);
    --smokey-black: hsl(30, 33.3%, 4.7%);
    --white: hsl(0, 0%, 100%);
    --ghost-white: hsl(240, 100%, 98.6%);
    --anti-flash-white: hsl(210, 8.3%, 95.3%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(150deg, var(--smokey-black) 0%, var(--phthalo-blue) 100%);
}

.wrapper {
    width: 380px;
    height: 550px;
    overflow: hidden;
    position: absolute;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--azure);
    box-shadow: 0px 3px 9px var(--silver);
}

.wrapper i {
    cursor: pointer;
}

.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    color: var(--dark-midnight-blue);
}

.top-bar i:first-child {
    margin-left: -7px;
}

.top-bar span {
    font-size: 18px;
    color: var(--dark-midnight-blue);
}

.img-area {
    height: 200px;
    width: 70%;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--vampire-black);
}

.img-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details {
    text-align: center;
    margin: 75px 0;
    color: var(--dark-midnight-blue);
}

.song-details .name {
    font-size: 21px;
}

.song-details .artist {
    opacity: 0.9;
    font-size: 18px;
}

.progress-area {
    height: 6px;
    width: 90%;
    background: var(--ghost-white);
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    left: 20px;
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--silver) 0%, var(--phthalo-blue) 100%);
}

.progress-bar::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background: var(--black);
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-area .timer {
    margin-top: 10px;
}

.timer span {
    font-size: 13px;
    color: var(--dark-midnight-blue);
}

.controls {
    margin: 50px 0 5px 0;
    position: relative;
    bottom: 10px;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--silver) 0%, var(--smokey-black) 50%, var(--phthalo-blue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 43px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--cyan) 0%, var(--smokey-black) 50%, var(--dark-midnight-blue) 100%);
    box-shadow: 0px 0px 5px var(--silver);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause::before {
    content: '';
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--silver) 0%, var(--phthalo-blue) 100%);
}

.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: linear-gradient(var(--silver) 0%, var(--phthalo-blue) 100%);
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list {
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background: var(--azure);
    box-shadow: 0px -5px 10px var(--vampire-black);
    transition: all 0.14s ease-out;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--dark-midnight-blue);
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: var(--dark-midnight-blue);
}

.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--dark-midnight-blue);
    border-bottom: 1px solid var(--anti-flash-white);
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 17px;
}

ul li .row p {
    opacity: 0.9;
}

ul li .audio-duration {
    font-size: 16px;
}

ul li.playing {
    color: var(--phthalo-blue);
    pointer-events: none;
}