* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    /* Primary colors */
    --phthalo-blue: hsl(233.4, 100%, 26.9%);
    --dark-midnight-blue: hsl(210, 100%, 20%);
    --medium-blue: hsl(240, 100%, 40.2%);
    --azure: hsl(210.1, 100%, 50%);
    --cyan: hsl(193.3, 100%, 46.1%);

    /* Neutral colors */
    --black: hsl(0, 0%, 0%);
    --vampire-black: hsl(0, 0%, 3.1%);
    --smokey-black: hsl(30, 33.3%, 4.7%);
    --silver: hsl(0, 0%, 75.3%);
    --white: hsl(0, 0%, 100%);
    --ghost-white: hsl(240, 100%, 98.6%);
    --anti-flash-white: hsl(210, 8.3%, 95.3%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, var(--smokey-black) 0%, var(--phthalo-blue) 100%);
    min-height: 38.75rem;
}

.wrapper {
    background: var(--azure);
    position: absolute;
    width: 23.75rem;
    height: 34.37rem;
    padding: 1.56rem 1.87rem;
    border-radius: 0.93rem;
    box-shadow: 0px 3px 9px var(--silver);
    overflow: hidden;
}

.wrapper i {
    cursor: pointer;
}

.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    color: var(--dark-midnight-blue);
    font-size: 1.87rem;
}

.top-bar i:first-child {
    margin-left: -0.43rem;
}

.top-bar span {
    color: var(--dark-midnight-blue);
    font-size: 1.12rem;
}

#volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 0.93rem;
    z-index: 3;
}

.volume_slider {
    background-color: var(--ghost-white);
    -webkit-appearance: none;
    position: relative;
    width: 9.37rem;
    height: 0.31rem;
    border-radius: 0.62rem;
    outline: none;
    z-index: 100;
}

.volume_slider::-moz-range-thumb {
    background-color: var(--phthalo-blue);
    -moz-appearance: none;
    width: 0.93rem;
    height: 0.93rem;
    border-radius: 50%;
    outline: none;
    transform: scale(1);
    cursor: pointer;
}

.volume_slider:active::-moz-range-thumb {
    transform: scale(1.2);
}

.img-area {
    position: relative;
    top: 3.12rem;
    left: 3.12rem;
    margin-top: 1.56rem;
    width: 70%;
    height: 12.5rem;
    border-radius: 0.93rem;
    box-shadow: 0px 6px 12px var(--vampire-black);
    overflow: hidden;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-details {
    color: var(--dark-midnight-blue);
    text-align: center;
    margin: 4.68rem 0;
}

.song-details .name {
    font-size: 1.31rem;
}

.song-details .artist {
    font-size: 1.12rem;
    opacity: 0.9;
}

.progress-area {
    background: var(--ghost-white);
    position: absolute;
    bottom: 6.25rem;
    left: 1.25rem;
    width: 90%;
    height: 0.37rem;
    border-radius: 3.12rem;
    cursor: pointer;
}

.progress-area .progress-bar {
    background: linear-gradient(90deg, var(--silver) 0%, var(--phthalo-blue) 100%);
    position: relative;
    width: 0%;
    height: inherit;
    border-radius: inherit;
}

.progress-bar::before {
    content: '';
    background: var(--black);
    background: inherit;
    position: absolute;
    top: 50%;
    right: -0.31rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: inherit;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-area .timer {
    margin-top: 0.62rem;
}

.timer span {
    font-size: 0.81rem;
    color: var(--dark-midnight-blue);
}

.controls {
    position: relative;
    bottom: 0.62rem;
    margin: 3.12rem 0 0.31rem 0;
}

.controls i {
    background: linear-gradient(var(--silver) 0%, var(--smokey-black) 50%, var(--phthalo-blue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.75rem;
    user-select: none;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 2.68rem;
}

.controls #prev {
    margin-right: -0.81rem;
}

.controls #next {
    margin-left: -0.81rem;
}

.controls .play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--cyan) 0%, var(--smokey-black) 50%, var(--dark-midnight-blue) 100%);
    width: 3.37rem;
    height: 3.37rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--silver);
}

.play-pause::before {
    content: '';
    background: linear-gradient(var(--silver) 0%, var(--phthalo-blue) 100%);
    position: absolute;
    width: 2.68rem;
    height: 2.68rem;
    border-radius: inherit;
}

.play-pause i {
    background: linear-gradient(var(--silver) 0%, var(--phthalo-blue) 100%);
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 2.68rem;
    position: relative;
    width: 2.68rem;
    height: 2.68rem;
    border-radius: inherit;
}

.music-list {
    background: var(--azure);
    position: absolute;
    left: 0;
    bottom: -55%;
    padding: 0.93rem 1.87rem;
    width: 100%;
    border-radius: 0.93rem;
    box-shadow: 0px -5px 10px var(--vampire-black);
    opacity: 0;
    pointer-events: none;
    transition: all 0.14s ease-out;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row {
    display: flex;
    align-items: center;
    color: var(--dark-midnight-blue);
    font-size: 1.18rem;
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 0.31rem;
}

.header #close {
    color: var(--dark-midnight-blue);
    font-size: 1.37rem;
}

.music-list ul {
    margin: 0.62rem 0;
    max-height: 16.25rem;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    color: var(--dark-midnight-blue);
    margin-bottom: 0.31rem;
    padding-bottom: 0.62rem;
    list-style: none;
    border-bottom: 1px solid var(--anti-flash-white);
    cursor: pointer;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 1.06rem;
}

ul li .row p {
    opacity: 0.9;
}

ul li .audio-duration {
    font-size: 1rem;
}

ul li.playing {
    color: var(--phthalo-blue);
    pointer-events: none;
}